<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://watchportalfunction-dmacb2h9fwahh2fn.northeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8b6001cd-a329-4999-8dbb-3b3261bb100a/resourceGroups/learn-02e8334b-b73a-40ce-8732-9236e9218d90/providers/Microsoft.Web/sites/WatchPortalFunction</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://watchportalfunction-dmacb2h9fwahh2fn.scm.northeurope-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>